body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-container {
    margin-top: 100px;
}
.row {
    margin: auto;
    width: 900px;
    border: solid 1px #d7ced4;
}
img {
    width: 70px;
    height: 70px;
}
h6 {
    padding-top: 15px;
    padding-left: 20px;
}
p {
    font-size: 10px;
    padding-left: 20px;
}
.type {
    text-align: center;
    margin-top: 15px;
}
.col-lg-1 {
    margin: auto;
}
.bx-play:before {
    margin-left: 40px;
}